@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: local('Quicksand'), url(./fonts/Quicksand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: local('Quicksand Bold'), url(./fonts/Quicksand-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: local('Quicksand Light'), url(./fonts/Quicksand-Light.ttf) format('truetype');
  font-weight: 300;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

